* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: mediumslateblue;
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 25vw;
  background-color: #eeeeed;
  padding: 20px;
}

.gradient-Box {
  width: calc(100vw - 25vw);
  height: 100vh;
  background: linear-gradient(to left bottom, #2def06, #d507b9, #e3ca26);
}

.sidebar h1 {
  font-size: 2.2rem;
}

.sidebar .options {
  margin-top: 30px;
}

.options .selectBox p {
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 5px;
}

.options .selectBox .select {
  border: 1px solid #858484;
  padding: 8px 5px;
  background-color: transparent;
}

.options .selectBox .select select {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1vw;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;
}

.options .inputBox {
  margin-top: 30px;
}

.options .inputBox p {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.options .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.options .inputBox .inputs {
  width: 100%;
  display: flex;
}

.options .inputBox .inputs input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  height: 100px;
}

.options .gradientSelectBox p {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.options .gradientSelectBox .gradientSelect {
  border: 1px solid #858484;
  padding: 10px 5px;
  background-color: transparent;
}

.options .gradientSelectBox .gradientSelect select {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;
}

.options textarea {
  width: 100%;
  resize: none;
  font-size: 0.85vw;
  border-radius: 5px;
  padding: 5px;
}

.buttonBox {
  margin-top: 40px;
  display: flex;
  gap: 5px;
}

.buttonBox button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.buttonBox .refresh {
  background-color: cadetblue;
}

.buttonBox .copy {
  background-color: mediumslateblue;
}

/* responsive css start here */
@media (max-width: 1200px) and (min-width: 599px) {
  .sidebar {
    height: 100vh;
    width: 35vw;
    background-color: #eeeeed;
    padding: 20px;
  }

  .gradient-Box {
    width: calc(100vw - 35vw);
    height: 100vh;
    background: linear-gradient(to left bottom, #2def06, #d507b9, #e3ca26);
  }

  .sidebar h1 {
    font-size: 1.6rem;
  }

  .sidebar .options {
    margin-top: 20px;
  }

  .options .selectBox p {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .options .selectBox .select {
    padding: 7px 5px;
  }

  .options .selectBox .select select {
    font-size: 1rem;
  }

  .options .inputBox {
    margin-top: 30px;
  }

  .options .inputBox p {
    margin-bottom: 5px;
    font-size: 1.3rem;
  }

  .options .inputBox {
    margin-bottom: 10px;
  }

  .options .inputBox .inputs input {
    height: 80px;
  }

  .options .gradientSelectBox p {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .options .gradientSelectBox .gradientSelect {
    padding: 8px 5px;
  }

  .options .gradientSelectBox .gradientSelect select {
    font-size: 1.1rem;
  }

  .options textarea {
    font-size: 0.8rem;
  }

  .buttonBox {
    margin-top: 20px;
  }

  .buttonBox button {
    padding: 5px;
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) and (min-width: 200px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 500px;
  }

  .gradient-Box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left bottom, #2def06, #d507b9, #e3ca26);
  }

  .sidebar h1 {
    font-size: 2rem;
  }
  .sidebar {
    font-size: 2rem;
  }

  .sidebar .options {
    margin-top: 10px;
  }

  .options .selectBox p {
    font-size: 1rem;
    display: none;
  }

  .options .selectBox .select {
    padding: 5px;
    width: 100%;
    display: none;
  }

  .options .selectBox .select select {
    font-size: 1.8vh;
  }
  .options .gradientSelectBox .gradientSelect {
    width: 100%;
  }

  .options .inputBox p {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  .options .inputBox {
    margin-bottom: 15px;
  }

  .options .inputBox .inputs input {
    height: 50px;
  }

  .options textarea {
    font-size: 1.8vh;
    line-height: 1.5;
  }

  .buttonBox {
    margin-top: 5px;
    gap: 15px;
  }

  .buttonBox button {
    padding: 10px;
    font-size: 2vh;
  }

  .buttonBox .refresh {
    background-color: cadetblue;
  }

  .buttonBox .copy {
    background-color: mediumslateblue;
  }
}
